<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>PSP-FTP</title>
  <link rel="stylesheet" href="styles.css">
</head>

  <body>
    <h1>PSP-FTP</h1>
    <% files.forEach(function(file) { %>
      <a href="/<%= file %>"><%= file %></a><br />
    <% }); %>
  </body>
</html>
